* {

  -main-color: #9bf2af;
  -main-darker: #86d298;
  -main-dark: #5e966b;

  -main-background: #FFFFFF;
  -detail-background: #FFFFFF;
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color: -main-color;
}

.tab-pane {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:300px;
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
  -fx-background-color: -main-darker;
}

.tab:selected {
    -fx-background-color: -main-dark;
}

.content-area {
  -fx-background-color: -main-background;
}

.detail-content-area {
  -fx-background-color: -detail-background;
}

.header-text {
  -fx-font-size: 38px;
}

/*
.add-button {
  -fx-background-color: -main-dark;
  -fx-background-radius: 15px;
}
*/




/* Toevoegen knop */
.add-button {
  -fx-background-color: -main-color;
}

.add-button:hover {
  -fx-background-color: -main-darker;
}

.add-button:pressed {
  -fx-background-color: -main-dark;
}

.add-button {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}



/* Wijzigen knop */
.edit-button {
    -fx-background-color: -main-color;
  }

.edit-button:hover {
  -fx-background-color: -main-darker;
}

.edit-button:pressed {
  -fx-background-color: -main-dark;
}

.edit-button {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

/* Verwijderen knop */
.delete-button {
  -fx-background-color: -main-color;
}

.delete-button:hover {
  -fx-background-color: -main-darker;
}

.delete-button:pressed {
  -fx-background-color: -main-dark;
}

.delete-button {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

.form-label {
  -fx-font-weight: bold;
}